# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Fichiers de données et sorties générées
Data/Raw/*.csv
Data/Processed/*.csv
Images/*.png
Images/*.jpg
Images/*.jpeg
Exports/*
!Exports/.gitkeep

# Logs
*.log

# Secrets
.env
